*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  .nav {
    width: 100%;
    height: 75px;
    background-color: rgb(243, 240, 240);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 100 100px; 
  }
  span {
    color:black;
    padding-left: 20px;
    line-height: 50px;
  }
  span img {
     height: 75px;
     width: 100%;
  }
  nav .nav-items{
   display: flex;
   flex: 1;
   padding: 0 0 0 40px;
   text-align: center;
 }
 nav .nav-items li{
   list-style: none;
   padding: 0 15px;
 }
 nav .nav-items li a{
   color: #f05e77;
   font-size: 20px;
   font-weight: 500;
   text-decoration: none;
 }
 
nav .nav-items li a:hover {
    color: rgb(238, 149, 183);
    border-bottom: 5px solid rgb(247, 149, 190);
}
nav form{
   display: flex;
   height: 40px;
   padding: 2px;
   background:rgb(248, 193, 209);
   min-width: 18%;
   border-radius: 20px;
   border: 1px solid rgb(248, 168, 186);
   
 }
 nav form .search-data{
   width: 100%;
   height: 100%;
   padding: 0 10px;
   font-size: 17px;
   font-weight: 500;
   background: none;
   border: none;
   border-radius: 50px;
   
 }
 nav form button{
   padding: 0 15px;
   color: #fff;
   font-size: 17px;
   background:  rgb(247, 160, 174);
   border: none;
   border-radius: 50px;
   cursor: pointer;
 }
 nav form button:hover{
   background: rgb(245, 211, 212);
 }
 nav .menu-icon,
 nav .cancel-icon,
 nav .search-icon{
   width: 40px;
   text-align: center;
   margin: 0 50px;
   font-size: 18px;
   color: #fff;
   cursor: pointer;
   display: none;
 }
 nav .menu-icon span,
 nav .cancel-icon,
 nav .search-icon{
   display: none;
 }

 @media (max-width: 1245px) {
   nav{
     padding: 0 50px;
   }
 }
 @media (max-width: 1140px){
   nav{
     padding: 0px;
   }
   nav .logo{
     flex: 2;
     text-align: center;
   }
   nav .nav-items{
     position: fixed;
     z-index: 99;
     top: 70px;
     width: 100%;
     left: -100%;
     height: 100%;
     padding: 10px 50px 0 50px;
     text-align: center;
     background: #14181f;
     display: inline-block;
     transition: left 0.3s ease;
   }
   nav .nav-items.active{
     left: 0px;
   }
   nav .nav-items li{
     line-height: 40px;
     margin: 30px 0;
   }
   nav .nav-items li a{
     font-size: 20px;
   }
    nav form.active{
      top: 75px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #cddaf0;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      border: 10px solid transparent;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
}
*{
    box-sizing: border-box;
}
body {
   margin: 0;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(250, 141, 174);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.img-text h4{
   font-size: 70px;
   text-transform: uppercase;
   font-weight: bold;
   padding: 8px 12px;
   position: absolute;
   bottom: 250px;
   width: 100%;
   margin-left: 50px;
   margin-bottom: 5px;
   color: #e43955;
 }
 .img-text p{
   font-size: 20px;
   padding: 8px 12px;
   position: absolute;
   bottom: 200px;
   width: 100%;
   margin-left: 50px;
   margin-bottom: 5px;
   color: #df6579;
 }

.numbertext {
  color: #f88cb9;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f897bc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #df4861;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
} 
  to {
    opacity: 1
}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {
    font-size: 11px
}
}
.home{
   text-align: center;
   font-size: 50px;
   color: palevioletred;
}
 .about-us {
   width: 100%;
   height: 600px;
   background: #DADBDD;
   padding: 80px 0;
 }
 .about {
   width: 1130px;
   max-width: 85%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
 .pic {
   height: 500px;
   width: 30%;
   padding: 80px 0;
}
.text {
   width: 540px;
}
.text h2 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 80px;
   font-weight: 800;
   margin-bottom: 10px;
   color: #c71340;
}
.text p {
   font-size: 20px;
   line-height: 25px;
   letter-spacing: 1px;
   color: #bd0624;
}
.link {
   margin-top: 30px;
}
.read {
   text-decoration: none;
   font-size: 20px;
   color: rgb(160, 5, 5);
   background-color: #e9acb7;
   padding: 8px 25px;
   border-radius: 6px;
   border: 1px solid #be4257;
   transition: 0.5s;
}
.read:hover {
   background: rgb(245, 116, 159);
   color: rgb(94, 3, 30);
}
.blog{
   width: 100%;
}
.blog .row {
   width: 90%;
   margin: auto;
}
.blog .row .header1 {
   width: 60%;
   text-align: center;
   margin: auto;
}
.blog .row .header1 h2 {
   padding-top: 30px;
   font-size: 45px;
   color: #c02a50;
}
.blog .row .header1 p {
   margin-top: 15px;
   font-size: 20px;
   line-height: 1.5;
   color: #c21e39;
}
.content1 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}
.content1 .card {
   flex: 1;
   margin: 50px 20px;
   background-color: #fccfd6;
}
.content1 .card img {
   width: 100%;
   height: 350px;
}
@media screen and (max-width: 750px) {
   .content1 {
      flex-direction: column;
   }
}
.content1 .card h4 {
   margin-top: 10px;
   text-align: center;
   font-size: 20px;
   color: rgb(158, 0, 66);
}
.content1 .card p {
   font-size: 15px;
   color: rgb(160, 4, 56);
   line-height: 1.5;
   padding: 10px;
}
.heading h3 {
   text-align: center;
   font-size: 50px;
   padding: 15px;
   color: #f03554;
}
.products .box-container{
   display: grid;
   grid-template-columns: 350px 350px 350px;
   gap: 25px;
   align-items: flex-start;
   justify-content: center;
   margin-bottom: 25px;
}
.products .box-container .box {
   text-align: center;
}
.products .box-container .box img {
   width: 100%;
   height: 250px;
   margin-bottom: 15px;
   padding-top: 10px;
   
}
.products .box-container .box img:hover {
   transform: scale(1.1);
}   
.products .box-container .box a {
   font-size: 20px;
   color: #df4861;
   transition: all 0.5s ease-in;
}
.products .box-container .box a:hover {
   color: #d30b2d;
}
@media screen and (max-width: 768px) {
   .products .box-container {
      display: grid;
      grid-template-columns: 300px 300px;
   }
}
@media screen and (max-width: 592px) {
   .products .box-container {
      display: block;
      margin-right: 15px;
      margin-left: 15px;
   } 
}
.see a {
   font-size: 25px;
   float: right;
   margin-right: 20px;
   text-decoration: none;
   color: #df4861;
   background-color: white;
   border: none;
}
.see a:hover {
   color: rgb(95, 94, 94);
   border-bottom: 3px solid rgb(95, 95, 95);
}
.fcproducts .box-container{
   display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: white;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.fcproducts .heading{
    text-align: center;
    background-color: whitesmoke;
    color: #e04b63;
    font-size: 30px;
}

.fcproducts .box-container .box{
   flex: 1 1 30rem;
   box-shadow: 0 .3rem 1.0rem rgba(0, 0, 0, .3);
   border-radius: .5rem;
   border: .1rem solid rgba(0, 0, 0, .4);
   position: relative;
   font-size: 0.8rem;
   background-color: whitesmoke;
   padding-left: 2rem;
   padding-right: 2rem;
}

.fcproducts .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.fcproducts .box-container .box .image img{
    height: 225px;
    width: 175px;
}

.fcproducts .box-container .box:hover .image img{
   transform: scale(1.1);   
}
.fcproducts .box-container .box .content h3{
   color: #bd0624;
   font-size: 20px;
}
.fcproducts .box-container .box .content{
   color: #da344f;
   font-size: 15px;
}
.contact-bg {
   width: 100%;
   height: 50vh;
   background: rgb(228, 228, 245);
   text-align: center;
   color: #da344f;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.contact-bg h2 {
   font-size: 60px;
   font-weight: 700;
}
.text {
   font-weight: 400;
   opacity: 0.9;
}
.contact-bg .text {
   margin: 25px;
}
.contact-body {
   max-width: 100%;
   margin: 0 auto;
   padding: 1.5px;
}
.contact-info {
   margin: auto;
   text-align: center;
   padding: 20px 20px;
   display: grid;
   grid-template-columns: 320px 320px 320px 320px;
   column-gap: 10px;
   align-items: flex-start;
   justify-content: center;
}
.contact-info span {
   display: block;
}
.contact-info div {
   margin: 15px 0;
   padding: 15px;
}
.contact-info span .fa-solid {
   font-size: 30px;
   padding-bottom: 15px;
   color: #df3e89;
}
.contact-info div span:nth-child(2) {
   font-weight: 500;
   font-size: 20px;
}
.contact-info .text{
   padding-top: 5px;
}
.contact-form {
   padding: 30px 0;
   padding-left: 10px;
   border-top: 1px solid black;
   display: flex;
}
.contact-form textarea {
   width: 850px;
}
.cform {
   text-decoration: none;
   font-size: 20px;
   color: rgb(212, 16, 81);
   border: 2px solid rgb(248, 101, 138);
   background-color: #f5a2af;
   padding: 8px 25px;
   border-radius: 6px;
   transition: 0.5s;
}
.cform:hover {
   background-color: #f7dfe3;
   color: rgb(221, 7, 78);
}
.contact-form form {
   padding-bottom: 15px;
}
.form-control {
   width: 45%;
   border: 1.5px solid black;
   border-radius: 5px;
   padding: 10px;
   margin: 10px 0;
   font-size: 15px;
   outline: 0;
}
.form-control:focus {
   box-shadow: 0 0 6px -3px gray;
}
.contact-form form div {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 10px;
}
.send-button {
   font-size: 15px;
   text-transform: uppercase;
   color: white;
   background-color: #e43955;
   border: none;
   border-radius: 5px;
   padding: 10px 25px;
   cursor: pointer;
   transition: all 0.4s ease;
   display: block;
}
.send-button:hover {
   opacity: 0.80;
}
.contact-form div img {
   width: 400px;
   height: 300px;
   display: flex;
}
.contact-form > div {
   margin: 0 auto;
   text-align: center; 
}
.contact-footer {
   padding: 30px 0;
   background-color: #e7e3e7;
}
.contact-footer h3 {
   font-size: 40px;
   color: #c01c81;
   margin-bottom: 15px;
   text-align: center;
}
.social-media {
   display: flex;
   justify-content: center;
}
.social-media a{
   text-decoration: none;
   width: 50px;
   height: 50px;
   color: #e43955;
   border: 2px solid palevioletred;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 6px;
   transition: all 0.4s ease;
}
.social-media a:hover {
   color:#df4861;
   background-color: #e7c0c6;
   
}
@media screen and (max-width: 768px){
   .contact-bg .text {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
   .contact-info {   
      display: grid;
      grid-template-columns: 400px 400px;
      column-gap: 20px;
   }
   .contact-form {
      width: 100%;
      display: block;
   }
}
@media screen and (max-width: 592px){
   .contact-bg .text {
      width: 50%;
   }
   .contact-info {
      display: grid;
      grid-template-columns: repeat(1, 4fr);
   }
   /*.contact-form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }  */
}
.review .heading{
   color: #eb5a72;
   background-color: white;
   text-align: center;
   font-size: 50px;
}

.review .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   background-color: white;
   padding: 0.5rem;
   margin-right: 30px;
   margin-left: 30px;
}

.review .box-container .box{
   background-color: #f7f0f1;
   flex: 1 1 30rem;
   box-shadow: 0.5rem 0.5rem rgba(26, 25, 25, 0.1);
   border-radius: .5rem;
   padding: 3rem 2rem;
   position: relative;
   border: .1rem solid rgba(27, 27, 27, 0.1);
}

.review .box-container .box .fa-quote-right{
   position: absolute;
   bottom: 3rem; right: 3rem;
   font-size: 4.5rem;
   color: rgb(170, 167, 167);
}

.review .box-container .box p{
   color: #7c7c7c;
   font-size: 1.25rem;
   line-height: 1.5;
   padding-top: 2rem;
}

.review .box-container .box .user{
   display: flex;
   align-items: center;
   padding-top: 2rem;
}


.review .box-container .box .user img{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 1rem;
}

.review .box-container .box .user h3{
   font-size: 2rem;
   color: rgb(245, 133, 180);
   font-family: cursive;
}
.review .box-container .box .user-info{
   color: rgb(243, 70, 139);
}

.review .box-container .box .user span{
   font-size: 1.5rem;
   color: rgb(177, 173, 174);
}

 .footer{
    background-color: #FCDFFF;
 }	
 .content {
    max-width: 100%;
    margin: auto;
 }
 ul {
    list-style: none;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .footer-col {
    width: 22%;
    height: 200px;
    padding: 5px;
    margin: auto;
 }
 .footer-col h4 {
    font-size: 20px;
    color:brown;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;

 }
 
 .footer-col ul li a {
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: #b81c5d;
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in;
 }
 .footer-col ul li a:hover {
    color:#57101e;
    padding-left: 10px;
    border-radius: 30px;
    width: 60%;
 }
 .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 8px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    border: 2px solid rgb(161, 44, 83);
    color: rgb(235, 65, 116);
    transition: all 0.5s ease-out;
 }
 .footer-col .social-links a:hover {
    color:#df4861;
    background-color: #f3c7ce;
    text-align: center;
 }
hr {
   width: 90%;
   border: 0;
   border-bottom: 3px solid rgb(233, 49, 111);
   margin: 20px auto;
}
.copyright {
   text-align: center;
   color: #ee2170;
}